@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: #2A9C85;
  --main-color-darker: #615586;
  --secondary-color: #3f4760;
  --tertiary-color: #7dd1c1;
}

.error-msg {
  color: red;
  display: block;
  text-align: left;
  font-size: .8rem;
  /* border: 1px solid red; */
  margin-top: .3rem;
  padding: .1rem;
}

h1 {
  color: var(--main-color);
  font-size: 3rem;
  text-transform: lowercase;
  font-variant: small-caps;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px dashed var(--main-color);
}

label,
input,
select,
button {
  color: var(--secondary-color);
}

form {
  padding: 2rem 1rem;
}

label {
  display: block;
  text-align: left;
  padding: 5px;
  font-size: 1.2rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

label::before {
  content: '🡆';
  color: var(--main-color);
  font-size: .7rem;
  margin-right: .3rem
}

.form-inputs {
  width: 70%;
  margin: 1.2rem auto;
}

input,
select {
  padding: 12px 6px;
  font-size: 1rem;
  background-color: #FFF;
  border: 0;
  border-radius: 4px;
  width: 100%;
}

button[type="submit"] {
  padding: 8px 24px;
  border: 0;
  border-radius: 4px;
  background-color: #FFF;
  font-size: 1.2rem;
}